{% extends "base.html" %}
{% block title %} Afficher personneS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom
						</th>
						<th class="" >
						  Contact
						</th>

					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_personne }}
					  </th>
					  <th class="align-middle">
						{{ row.nom_personne }}
					  </th>
					  <th class="align-middle">
						{{ row.personnescontacts|default("PAS DE contactS", True) }}
					  </th>


					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_personne_contact_selected', id_personne_contacts_edit_html=row.id_personne) }}" role="button">Modifier</a>
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun personne.
						</td>
						<td>
							<a class="btn btn-primary" href="" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
